@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #c3fab7;
    margin: 10px;
    padding: 0;
    height: 100vh; 
}

.fullDashboard {
    display: flex;
    flex-direction: row;
    gap:700px ;
    margin: 10px 70px;
    border: solid;
    border-radius: 20px;
    padding: 20px;
}

#headingDashboard {
    padding: 20px;
}

#changeData {
    margin: 10px;
}

#heading {
    display: flex;
    flex-direction: row;
}

#username {
    font-size: medium;
    padding-top: 30px;
}

#openPopup {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

#backBtn {
    border: none;
    border-radius: 20px;
    margin: 20px;
    padding: 8px;
    text-decoration: none;
    background-color: black;
    color: white;
}

#dashHeading {
    display: flex;
    justify-content: space-between;
}