@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("ImageAssets/img40.jpg");
}

.container {
    background-color: rgba(172, 255, 172, 0.671);
    padding: 20px 200px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-group button[type="submit"] {
    background-color: #329e04;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: ease 0.3s;
    padding: 10px;
    font-size: large;
}

.input-group button[type="submit"]:hover {
    background-color: #055305;
}