body {
    background-color: rgb(204, 255, 204);
    font-family: Arial, Helvetica, sans-serif;

}

#head {
    text-align: center;
    color: white;
    border-style: none;
    padding: 50px;
    font-size: large;
    position: relative;
    box-sizing: border-box;
    background-image: url("img34.png");
    
}

#topnavi {
    color: green;
    padding: 10.5px 23px;
    background-color: rgb(213, 255, 213);
    border: none;
    border-radius: 60px;
    text-decoration: none;
    font-weight: 800;
}

#subnavi {
    color: black;
    padding: 10px 20px;
    background-color: rgb(213, 255, 213);
    border: none;
    border-radius: 60px;
    text-decoration: none;
    font-weight: 700;
}

#sub {
    text-align: right;
    
}

h2 {
    text-align: center;
}

#img01 {
    border-radius: 15px;
    margin: auto;

}

#img02 {
    border-radius: 15px;

}

#img03 {
    border-radius: 15px;
}

#img04 {
    border-radius: 15px;

}


.topic1 {
    border: solid;
    border-radius: 7px;

}

#topic2 {
    border: solid;
    border-radius: 7px;

}

#topic3 {
    border: solid;
    border-radius: 7px;

}

.sign {
    text-align: left;
    font-size: xxx-large;

}




