body {
    background-color: lightgray;
}

#head {
    text-align: center;
    color: green;
    border-style: solid;
    padding: 30px;
    background-color: lightgreen;
    border-radius: 15px;
    font-size: xxx-large;
}

h2 {
    text-align: center;
}

#topnavi {
    color: red;
}